:root {
    --bg-color-dark: hsl(225 100% 80%);
    --bg-color-light: hsl(225 100% 95%);
    --text-color: hsl(0 0% 10%);
    --text-bg-color: hsl(0 0% 100%);
}

.button {
    background-color: var(--bg-color-dark);
    border-radius: 0.25rem;
    color: var(--text-color);
    font-size: 1rem;
    padding-inline: 1rem;
    padding-block: .5rem;
    text-decoration: none;
}

