{% extends '_layouts/page.njk' %}

{% block pagehead %}
<script src="/js/d3.v7.min.js"></script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{{ content | safe }}

<h2>Main skills and areas of expertise</h2>

<div id="skills"></div>

<script src="/js/skilltree.js" defer></script>

{% endblock %}
