{% extends '_layouts/page.njk' %}

{% block head %}
<style>
form {
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        flex-direction: column;
    }
}
</style>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{{ content | safe }}

<form id="contact">
    <label>
        Email
        <input type="email" name="email" id="email">
    </label>
    <label>
        Subject
        <input type="text" name="subject" id="subject">
    </label>
    <label>
        Message
        <textarea name="message" id="message"></textarea>
    </label>
    <button type="submit" id="submit">Send</button>
</form>

<script>
async function sendContactForm(form) {
    const formData = new FormData(form);
    try {
        await fetch('https://formbold.com/s/9gJaD', {
            method: 'POST',
            body: formData,
        });
    } catch (e) {
        console.error(e);
    }
    ['email', 'subject', 'message'].forEach(id => {
        document.querySelector(`#${id}`).value = '';
    });
}

document.addEventListener('DOMContentLoaded', async () => {
    const form = document.querySelector('#contact');
    const submit = document.querySelector('#submit');
    if (form && submit) {
        form.addEventListener('submit', async (event) => {
            submit.disabled = true;
            event.preventDefault();
            await sendContactForm(form);
            submit.disabled = false;
        });
    }
});
</script>
{% endblock %}