{% extends '_layouts/page.njk' %}

{% block content %}
<h1>{{ title }}</h1>
{{ content | safe }}

<form id="contact">
    <label>
        Email
        <input type="email" name="email" id="email">
    </label>
    <label>
        Subject
        <input type="text" name="subject" id="subject">
    </label>
    <label>
        Message
        <textarea name="message" id="message"></textarea>
    </label>
    <button class="button" type="submit" id="submit">Send</button>
</form>

<script src="/js/contact.js" defer></script>
{% endblock %}