{% extends '_layouts/base.njk' %}

{% block header %}
    {% include 'menu.njk' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ content | safe }}
    {% gallery %}
{% endblock %}