{% extends '_layouts/page.njk' %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ content | safe }}
    {%- for project in collections.project -%}
        <a
            {% if page.url == project.url %}
                class="current"
            {% endif %}
            href="{{ project.url }}">{{ project.data.title }}</a><br>
    {%- endfor -%}
{% endblock %}