{% extends '_layouts/page.njk' %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ content | safe }}
    <ul class="projects">
    {%- for project in collections.projects | reverse -%}
        <li class="project" style="--thumbnail: url(/img/{{ project.data.page.fileSlug }}/{{ project.thumbnail }})">
            <a
                {% if page.url == project.url %}
                    class="current"
                {% endif %}
                href="{{ project.url }}"
            >
                <span>{{ project.data.title }}</span>
            </a>
        </li>
    {%- endfor -%}
    </ul>
{% endblock %}