.gallery {
    display: flex;
    flex-wrap: wrap;

    .thumbnail {
        display: list-item;
        width: 200px;
    }
}

.button {
    background-color: hsl(0 0% 10%);
    border-radius: 0.25rem;
    color: hsl(0 0% 100%);
    padding-inline: 1rem;
    padding-block: .5rem;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 1rem;

    .current {
        color: hsl(0 0% 10%);
        pointer-events: none;
        text-decoration: none;
    }
}